{% extends "base.html" %}
{% block title %}
password confirm
{% endblock title %}
{% block content %}
<h1 class = 'opening'>
    confirm password
</h1>
<p class = "sign">
    fill out form to confirm password
</p>
{% if validlink %}
<div class = 'page'>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <p>
            <input type="submit" value = 'confirm password'>
        </p>
    </form>
</div>
{% else %}
<p class = 'sign'>
The link that you chose doesn't work please try another one
</p>
{% endif %}

{% endblock content %}